@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    min-width: 344px;
    @apply text-gray-800 bg-white text-base;
  }
  .main-content {
   padding-top:100px;
  }
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-lg font-semibold;
  }
  a {
    @apply text-blue-600 underline;
  }
  input, textarea, select {
    @apply border border-indigo-300 bg-white rounded outline-none p-1
          focus:outline-none focus:border-indigo-500
  }
  .btn{
    @apply rounded p-2 mx-5 my-3 font-bold text-lg shadow-lg focus:outline-none
    transform duration-75 ease-in-out active:shadow-sm active:translate-y-0.5
  }
  .btn-error {
    @apply text-gray-50 bg-red-600 border-red-700 hover:bg-red-500;
  }
  .btn-success {
    @apply text-gray-50 bg-green-600 border-green-700 hover:bg-green-500;
  }
}
